<div class="page-area">
  <h2>contact us</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Nemo maiores aliquam, explicabo sed assumenda, non, 
    magnam iusto quia sit voluptatibus ipsam nam suscipit a itaque. 
    Repellendus assumenda perferendis culpa natus.</p>
    <div class="row">    
      <div class="col-md-4">
          <app-card1></app-card1>
      </div>
      <!-- <div class="col-md-4">
           <app-card2></app-card2>
       </div> -->
      </div>

</div>